<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-label position="stacked">Tanggal</ion-label>
  <ion-input [(ngModel)] ="tanggal" type="date"></ion-input>

  <div id="container">
    <ion-card-title>Title</ion-card-title>
    <ion-textarea placeholder="input here" name="title" [(ngModel)]="judul"></ion-textarea>
    <ion-row>
      <ion-card>
        <ion-card-header>
          
        </ion-card-header>
        <ion-card-title>Description</ion-card-title>
        <ion-card-content>
          <ion-item>
            <ion-item>
              <ion-textarea placeholder="input here" [(ngModel)]="description"></ion-textarea>
            </ion-item>
          </ion-item>
  
        </ion-card-content>
        
      </ion-card>
      
    </ion-row>
    <ion-button (click)="savenotes(tanggal,judul,isi)" expand="full">ADD</ion-button>
  </div>
  <ion-button routerLink="/halaman-baru">Pindah Halaman</ion-button>
</ion-content>
